In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
#reading dataset
drought_states = pd.read_csv('./data_dc/final_merged.csv')

In [3]:
drought_states.head()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d2,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm
0,2021-01-04,Alabama,AL,47712.19,3892.15,0.0,0.0,0.0,0.0,4596699.61,...,0.0,0.0,0.0,8,51604.34,4779736.02,67.940000,41.450000,0.840,21.3360
1,2020-12-28,Alabama,AL,39068.95,12535.39,0.0,0.0,0.0,0.0,4038013.82,...,0.0,0.0,0.0,24,51604.34,4779736.02,57.797143,30.522857,0.049,1.2446
2,2020-12-21,Alabama,AL,39068.95,12535.40,0.0,0.0,0.0,0.0,4038013.43,...,0.0,0.0,0.0,24,51604.35,4779736.02,53.634286,34.314286,0.442,11.2268
3,2020-12-14,Alabama,AL,42812.87,8791.48,0.0,0.0,0.0,0.0,4239664.15,...,0.0,0.0,0.0,17,51604.35,4779736.02,64.145714,38.808571,0.386,9.8044
4,2020-12-07,Alabama,AL,45608.51,5995.84,0.0,0.0,0.0,0.0,4483976.48,...,0.0,0.0,0.0,12,51604.35,4779736.02,55.377143,31.965714,0.226,5.7404

In [4]:
drought_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7368 entries, 0 to 7367
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ValidEnd               7368 non-null   object
 1   Name                   7368 non-null   object
 2   state                  7368 non-null   object
 3   area_none              7368 non-null   float64
 4   area_d0                7368 non-null   float64
 5   area_d1                7368 non-null   float64
 6   area_d2                7368 non-null   float64
 7   area_d3                7368 non-null   float64
 8   area_d4                7368 non-null   float64
 9   population_none        7368 non-null   float64
 10  population_d0          7368 non-null   float64
 11  population_d1          7368 non-null   float64
 12  population_d2          7368 non-null   float64
 13  population_d3          7368 non-null   float64
 14  population_d4          7368 non-null   float64
 15  DSCI                   7368 non-null   int64
 16  total_area             7368 non-null   float64
 17  total_population       7368 non-null   float64
 18  avg_tmax               7368 non-null   float64
 19  avg_tmin               7368 non-null   float64
 20  total_avg_prcp_inches  7368 non-null   float64
 21  total_avg_prcp_mm      7368 non-null   float64
dtypes: float64(18), int64(1), object(3)
memory usage: 1.2+ MB

### Add 9 drought regions column

In [5]:
oh='Ohio Valley'
ohio_valley=dict.fromkeys(['Illinois','Indiana','Kentucky','Missouri',
             'Ohio','Tennessee','West Virginia'],oh)
#https://stackoverflow.com/questions/11977730/creating-a-dictionary-with-same-values
ohio_valley

{'Illinois': 'Ohio Valley',
 'Indiana': 'Ohio Valley',
 'Kentucky': 'Ohio Valley',
 'Missouri': 'Ohio Valley',
 'Ohio': 'Ohio Valley',
 'Tennessee': 'Ohio Valley',
 'West Virginia': 'Ohio Valley'}

In [6]:
oh_list=['Illinois','Indiana','Kentucky','Missouri',
             'Ohio','Tennessee','West Virginia']

In [7]:
def state_region_dict(list_states,string_region):
    return dict.fromkeys(list_states,string_region)
#function to combine states and region into dictionary

In [8]:
um_list=['Iowa', 'Michigan', 'Minnesota', 'Wisconsin']
um_region='Upper Midwest'
upper_midwest=state_region_dict(um_list,um_region)
upper_midwest

{'Iowa': 'Upper Midwest',
 'Michigan': 'Upper Midwest',
 'Minnesota': 'Upper Midwest',
 'Wisconsin': 'Upper Midwest'}

In [9]:
ne_list=['Connecticut','Delaware','Maine','Maryland','Massachusetts', 'New Hampshire', 'New Jersey',
        'New York', 'Pennsylvania','Rhode Island','Vermont']
ne_region='Northeast'
north_east=state_region_dict(ne_list,ne_region)
north_east

{'Connecticut': 'Northeast',
 'Delaware': 'Northeast',
 'Maine': 'Northeast',
 'Maryland': 'Northeast',
 'Massachusetts': 'Northeast',
 'New Hampshire': 'Northeast',
 'New Jersey': 'Northeast',
 'New York': 'Northeast',
 'Pennsylvania': 'Northeast',
 'Rhode Island': 'Northeast',
 'Vermont': 'Northeast'}

In [10]:
nw_list=['Idaho','Oregon','Washington']
nw_region='Northwest'
north_west=state_region_dict(nw_list,nw_region)

s_list=['Arkansas','Kansas','Louisiana','Mississippi','Oklahoma','Texas']
s_region='South'
south=state_region_dict(s_list,s_region)

se_list=['Alabama','Florida','Georgia','North Carolina','South Carolina','Virginia']
se_region='Southeast'
south_east=state_region_dict(se_list,se_region)

sw_list=['Arizona','Colorado','New Mexico','Utah']
sw_region='Southwest'
south_west=state_region_dict(sw_list,sw_region)

w_list=['California','Nevada']
w_region='West'
west=state_region_dict(w_list,w_region)

wnc_list=['Montana','Nebraska','North Dakota','South Dakota','Wyoming']
wnc_region='Northern Rockies and Plains'
northern_rockies=state_region_dict(wnc_list,wnc_region)

In [11]:
final_dict={**ohio_valley,**upper_midwest,**north_east,**north_west,**south,
            **south_east,**south_west,**west,**northern_rockies}
final_dict
#combine multiple dictionaries into one
#https://towardsdatascience.com/merge-dictionaries-in-python-d4e9ce137374

{'Illinois': 'Ohio Valley',
 'Indiana': 'Ohio Valley',
 'Kentucky': 'Ohio Valley',
 'Missouri': 'Ohio Valley',
 'Ohio': 'Ohio Valley',
 'Tennessee': 'Ohio Valley',
 'West Virginia': 'Ohio Valley',
 'Iowa': 'Upper Midwest',
 'Michigan': 'Upper Midwest',
 'Minnesota': 'Upper Midwest',
 'Wisconsin': 'Upper Midwest',
 'Connecticut': 'Northeast',
 'Delaware': 'Northeast',
 'Maine': 'Northeast',
 'Maryland': 'Northeast',
 'Massachusetts': 'Northeast',
 'New Hampshire': 'Northeast',
 'New Jersey': 'Northeast',
 'New York': 'Northeast',
 'Pennsylvania': 'Northeast',
 'Rhode Island': 'Northeast',
 'Vermont': 'Northeast',
 'Idaho': 'Northwest',
 'Oregon': 'Northwest',
 'Washington': 'Northwest',
 'Arkansas': 'South',
 'Kansas': 'South',
 'Louisiana': 'South',
 'Mississippi': 'South',
 'Oklahoma': 'South',
 'Texas': 'South',
 'Alabama': 'Southeast',
 'Florida': 'Southeast',
 'Georgia': 'Southeast',
 'North Carolina': 'Southeast',
 'South Carolina': 'Southeast',
 'Virginia': 'Southeast',
 'Arizona': 'Southwest',
 'Colorado': 'Southwest',
 'New Mexico': 'Southwest',
 'Utah': 'Southwest',
 'California': 'West',
 'Nevada': 'West',
 'Montana': 'Northern Rockies and Plains',
 'Nebraska': 'Northern Rockies and Plains',
 'North Dakota': 'Northern Rockies and Plains',
 'South Dakota': 'Northern Rockies and Plains',
 'Wyoming': 'Northern Rockies and Plains'}

In [12]:
print(len(final_dict.keys()))

48

In [13]:
drought_states['climate_regions']=drought_states['Name']

In [14]:
#Replaced initial values with dictionary region values
drought_states.replace({'climate_regions':final_dict},inplace=True)
#https://sparkbyexamples.com/pandas/pandas-remap-values-in-column-with-a-dictionary-dict/

In [15]:
drought_states.head()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm,climate_regions
0,2021-01-04,Alabama,AL,47712.19,3892.15,0.0,0.0,0.0,0.0,4596699.61,...,0.0,0.0,8,51604.34,4779736.02,67.940000,41.450000,0.840,21.3360,Southeast
1,2020-12-28,Alabama,AL,39068.95,12535.39,0.0,0.0,0.0,0.0,4038013.82,...,0.0,0.0,24,51604.34,4779736.02,57.797143,30.522857,0.049,1.2446,Southeast
2,2020-12-21,Alabama,AL,39068.95,12535.40,0.0,0.0,0.0,0.0,4038013.43,...,0.0,0.0,24,51604.35,4779736.02,53.634286,34.314286,0.442,11.2268,Southeast
3,2020-12-14,Alabama,AL,42812.87,8791.48,0.0,0.0,0.0,0.0,4239664.15,...,0.0,0.0,17,51604.35,4779736.02,64.145714,38.808571,0.386,9.8044,Southeast
4,2020-12-07,Alabama,AL,45608.51,5995.84,0.0,0.0,0.0,0.0,4483976.48,...,0.0,0.0,12,51604.35,4779736.02,55.377143,31.965714,0.226,5.7404,Southeast

In [16]:
drought_states.tail()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm,climate_regions
7363,2001-01-01,Washington,WA,67498.04,0.00,0.00,0.00,0.0,0.0,6724540.00,...,0.0,0.0,0,67498.04,6724540.00,39.000000,31.200000,0.00000,0.00000,Northwest
7364,2021-01-04,Wisconsin,WI,44338.85,11709.60,0.00,0.00,0.0,0.0,5290944.46,...,0.0,0.0,21,56048.45,5686986.08,27.049107,9.855357,0.41400,10.51560,Upper Midwest
7365,2001-01-01,Wisconsin,WI,56035.45,13.01,0.00,0.00,0.0,0.0,5686253.93,...,0.0,0.0,0,56048.46,5686986.08,20.500000,-1.000000,0.00125,0.03175,Upper Midwest
7366,2001-01-01,West Virginia,WV,7763.16,12391.31,3670.42,379.79,0.0,0.0,664647.42,...,0.0,0.0,86,24204.68,1852994.00,24.000000,18.333333,0.00000,0.00000,Ohio Valley
7367,2001-01-01,Wyoming,WY,40340.46,57458.16,0.00,0.00,0.0,0.0,287015.91,...,0.0,0.0,59,97798.62,563626.00,33.000000,7.000000,0.00500,0.12700,Northern Rockies and Plains

In [17]:
drought_states['climate_regions'].value_counts()

South                          2094
Southwest                      2093
Northeast                      1054
Southeast                      1052
West                           1047
Ohio Valley                      10
Northern Rockies and Plains       8
Upper Midwest                     6
Northwest                         4
Name: climate_regions, dtype: int64

In [18]:
not_list='Alaska','District of Columbia','Hawaii','Puerto Rico','Connecticut','Rhode Island'

drought_states=drought_states[drought_states['climate_regions'].str.contains('Alaska')==False]
drought_states=drought_states[drought_states['climate_regions'].str.contains('District of Columbia')==False]
drought_states=drought_states[drought_states['climate_regions'].str.contains('Hawaii')==False]
drought_states=drought_states[drought_states['climate_regions'].str.contains('Puerto Rico')==False]

drought_states['climate_regions'].value_counts()

South                          2094
Southwest                      2093
Northeast                      1054
Southeast                      1052
West                           1047
Ohio Valley                      10
Northern Rockies and Plains       8
Upper Midwest                     6
Northwest                         4
Name: climate_regions, dtype: int64

In [22]:
#change the format of the time
drought_states['ValidEnd']= pd.to_datetime(drought_states['ValidEnd'])
drought_states['ValidEnd'] = drought_states['ValidEnd'].dt.strftime('%m/%d/%Y')
drought_states['ValidEnd']=drought_states['ValidEnd'].astype('datetime64[ns]')

## Create 9 region dataframes

In [23]:
def nine_regions(state_list):
    return drought_states[drought_states['Name'].isin(state_list)]

In [24]:
oh_df=nine_regions(oh_list)

oh_df

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm,climate_regions
6275,2001-01-01,Illinois,IL,55291.12,1091.42,0.00,0.00,0.00,0.0,12798429.97,...,0.00,0.0,2,56382.54,12847389.79,19.200000,0.400000,0.002000,0.050800,Ohio Valley
6276,2021-01-04,Indiana,IN,23926.78,7160.67,5111.67,0.00,0.00,0.0,4268744.54,...,0.00,0.0,48,36199.12,6483801.90,40.600000,25.375000,0.528000,13.411200,Ohio Valley
6277,2001-01-01,Indiana,IN,36199.11,0.00,0.00,0.00,0.00,0.0,6483801.89,...,0.00,0.0,0,36199.11,6483801.89,25.250000,10.000000,0.040000,1.016000,Ohio Valley
6279,2021-01-04,Kentucky,KY,30802.54,9554.82,0.00,0.00,0.00,0.0,3714999.94,...,0.00,0.0,24,40357.36,4339366.98,49.775000,30.250000,0.582000,14.782800,Ohio Valley
6280,2001-01-01,Kentucky,KY,29361.83,8769.93,2147.39,78.22,0.00,0.0,3666353.32,...,0.00,0.0,33,40357.37,4339366.99,27.000000,14.000000,0.020000,0.508000,Ohio Valley
6288,2001-01-01,Missouri,MO,57497.78,8859.84,3360.12,0.33,0.00,0.0,5416486.97,...,0.00,0.0,22,69718.07,5988927.11,15.600000,-0.400000,0.000000,0.000000,Ohio Valley
6305,2021-01-04,Ohio,OH,38044.63,3264.92,0.00,0.00,0.00,0.0,10711060.33,...,0.00,0.0,8,41309.55,11536503.90,43.421429,26.807143,0.321111,8.156222,Ohio Valley
6306,2001-01-01,Ohio,OH,41309.55,0.00,0.00,0.00,0.00,0.0,11536503.90,...,0.00,0.0,0,41309.55,11536503.90,25.428571,13.285714,0.004286,0.108857,Ohio Valley
7356,2001-01-01,Tennessee,TN,0.00,13177.29,13188.04,14178.79,1611.11,0.0,0.00,...,313707.91,0.0,210,42155.23,6346104.94,27.000000,15.666667,0.033333,0.846667,Ohio Valley
7366,2001-01-01,West Virginia,WV,7763.16,12391.31,3670.42,379.79,0.00,0.0,664647.42,...,0.00,0.0,86,24204.68,1852994.00,24.000000,18.333333,0.000000,0.000000,Ohio Valley

In [25]:
um_df=nine_regions(um_list)
ne_df=nine_regions(ne_list)
nw_df=nine_regions(nw_list)
s_df=nine_regions(s_list)
se_df=nine_regions(se_list)
sw_df=nine_regions(sw_list)
w_df=nine_regions(w_list)
wnc_df=nine_regions(wnc_list)

In [26]:
ne_df.head()

,ValidEnd,Name,state,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,...,population_d3,population_d4,DSCI,total_area,total_population,avg_tmax,avg_tmin,total_avg_prcp_inches,total_avg_prcp_mm,climate_regions
5223,2021-01-04,Delaware,DE,2049.97,0.0,0.0,0.0,0.0,0.0,897934.01,...,0.0,0.0,0,2049.97,897934.01,42.450000,23.000000,0.002500,0.063500,Northeast
5224,2020-12-28,Delaware,DE,2049.97,0.0,0.0,0.0,0.0,0.0,897934.01,...,0.0,0.0,0,2049.97,897934.01,48.028571,28.257143,0.414286,10.522857,Northeast
5225,2020-12-21,Delaware,DE,2049.97,0.0,0.0,0.0,0.0,0.0,897934.01,...,0.0,0.0,0,2049.97,897934.01,36.742857,26.600000,0.469286,11.919857,Northeast
5226,2020-12-14,Delaware,DE,2049.97,0.0,0.0,0.0,0.0,0.0,897934.01,...,0.0,0.0,0,2049.97,897934.01,51.600000,31.514286,0.137143,3.483429,Northeast
5227,2020-12-07,Delaware,DE,2049.97,0.0,0.0,0.0,0.0,0.0,897934.01,...,0.0,0.0,0,2049.97,897934.01,47.014286,33.357143,0.101429,2.576286,Northeast

### State division by region
---

In [ ]:
#creating lists for the regions
north_east = ['Connecticut','Maine',"Massachusetts",'New Hampshire','Rhode Island','Vermont','New Jersey','New York','Pennsylvania']

Midwest=['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa','Kansas','Minnesota','Missouri','Nebraska','North Dakota','South Dakota']

West=['Arizona','Colorado','Nevada','New Mexico','Utah','Wyoming','Alaska','California','Hawaii','Oregon','Washington']

South =['Delaware','Florida','Georgia','Maryland','North Carolina','South Carolina','Virginia','West Virginia','Alabama','Kentucky','Mississippi','Tennessee','Arkansas','Louisiana','Oklahoma','Texas']

In [ ]:
#function to create a dataframe for every region
def reg (r):
    regions_df=pd.DataFrame()
    for k in r:

        x=drought_states[drought_states['Name']==k]
        
        regions_df=pd.concat([regions_df,x],axis=0)
    return regions_df

In [ ]:
drought_states.columns

In [ ]:
# creating 4 new dataframe for every region
north_east_df=reg(north_east)
north_east_df2=north_east_df.groupby('ValidStart').agg({'area_none':'sum','area_d0':'sum','area_d1':'sum','area_d2':'sum','area_d3':'sum','area_d4':'sum',
                                                  'population_none':'sum','population_d0':'sum','population_d1':'sum','population_d2':'sum','population_d3':'sum',
                                                  'population_d4':'sum','DSCI':'mean','total_population':'sum','total_area':'sum'})
north_east_df2['Region']='north_east'
north_east_df2.reset_index(inplace=True)


Midwest_df=reg(Midwest)
midwest_df2=Midwest_df.groupby('ValidStart').agg({'area_none':'sum','area_d0':'sum','area_d1':'sum','area_d2':'sum','area_d3':'sum','area_d4':'sum',
                                                  'population_none':'sum','population_d0':'sum','population_d1':'sum','population_d2':'sum','population_d3':'sum',
                                                  'population_d4':'sum','DSCI':'mean','total_population':'sum','total_area':'sum'})
midwest_df2['Region']='Midwest'
midwest_df2.reset_index(inplace=True)


West_df=reg(West)
West_df2=West_df.groupby('ValidStart').agg({'area_none':'sum','area_d0':'sum','area_d1':'sum','area_d2':'sum','area_d3':'sum','area_d4':'sum',
                                                  'population_none':'sum','population_d0':'sum','population_d1':'sum','population_d2':'sum','population_d3':'sum',
                                                  'population_d4':'sum','DSCI':'mean','total_population':'sum','total_area':'sum'})
West_df2['Region']='west'
West_df2.reset_index(inplace=True)



South_df=reg(South)
South_df2=South_df.groupby('ValidStart').agg({'area_none':'sum','area_d0':'sum','area_d1':'sum','area_d2':'sum','area_d3':'sum','area_d4':'sum',
                                                  'population_none':'sum','population_d0':'sum','population_d1':'sum','population_d2':'sum','population_d3':'sum',
                                                  'population_d4':'sum','DSCI':'mean','total_population':'sum','total_area':'sum'})
South_df2['Region']='South'
South_df2.reset_index(inplace=True)



#saving the dataframe
north_east_df2.to_csv('./data/north_east_region.csv', index=False)
midwest_df2.to_csv('./data/midwest_region.csv', index=False)
West_df2.to_csv('./data/West_region.csv', index=False)
South_df2.to_csv('./data/South_region.csv', index=False)

#### graphics and data analysis
---

In [ ]:
#function to graphic the DSCI for every region
def plot_avg_dsci(reg):
    years = reg.groupby(reg['ValidStart'].dt.year)['DSCI'].mean()
    years.plot(kind = 'bar', figsize = (10, 8))
    plt.xlabel("Year")
    plt.ylabel("DSCI")
    plt.title(f'Average DSCI in {reg["climate_regions"].iloc[1]} by Year')
plot_avg_dsci(ne_df)

In [ ]:
plot_avg_dsci(oh_df)

In [ ]:
plot_avg_dsci(sw_df)

In [ ]:
plot_avg_dsci(s_df)

- ##### Merging the regions dataset

In [ ]:
#concat the regions on one dataset
df_regions=[South_df2,West_df2,midwest_df2,north_east_df2]
regions=pd.concat(df_regions)

#taking the mean of DSCI of the new dataset
df_regions_years=regions.groupby(by=[regions['ValidStart'].dt.year,regions['Region']])['DSCI'].agg([ 'mean'])
df_regions_years.reset_index(inplace=True)

In [ ]:
#graph the DCSI of the regions
plt.figure(figsize=(18, 12))
sns.barplot(x='ValidStart',
    y='mean',
    hue='Region',
    data=df_regions_years)
plt.title('DSCI (2000-2021)',fontdict={'fontsize':17});
plt.xlabel('Years',fontdict={'fontsize':17});
plt.ylabel('DSCI',fontdict={'fontsize':17});
plt.grid(axis = 'y',color = 'black', linestyle = '--', linewidth = 0.8)
plt.savefig('./images/DSCI_region.png')

In [ ]:
#graphic of the average DSCI by region
plt.figure(figsize=(12,8))
sns.barplot(x='climate_regions',
    y='DSCI',
    data=drought_states);
plt.title('Average DSCI by region',fontdict={'fontsize':12});
plt.xlabel('Regions',fontdict={'fontsize':10});
plt.xticks(rotation=45)
plt.ylabel('DSCI',fontdict={'fontsize':10})
plt.savefig('./images/avg_dsci_region.png');

In [ ]:
plt.figure(figsize=(14,10))
sns.barplot(x='climate_regions',
    y='total_population',
    data=drought_states);
plt.title('Average population by region',fontdict={'fontsize':12});
plt.xlabel('Regions',fontdict={'fontsize':10});
plt.xticks(rotation=45)
plt.ylabel('population',fontdict={'fontsize':10});

In [ ]:
sns.barplot(x='Region',
    y='total_area',
    data=regions);
plt.title('Average area by region',fontdict={'fontsize':12});
plt.xlabel('Regions',fontdict={'fontsize':10});
plt.ylabel('Area',fontdict={'fontsize':10});

In [ ]:
#change the format of the time of the regions
South_df2['ValidStart']= pd.to_datetime(drought_states['ValidStart'])
South_df2['ValidStart'] = drought_states['ValidStart'].dt.strftime('%m/%d/%Y')
South_df2['ValidStart']=drought_states['ValidStart'].astype('datetime64[ns]')
West_df2['ValidStart']= pd.to_datetime(drought_states['ValidStart'])
West_df2['ValidStart'] = drought_states['ValidStart'].dt.strftime('%m/%d/%Y')
West_df2['ValidStart']=drought_states['ValidStart'].astype('datetime64[ns]')
midwest_df2['ValidStart']= pd.to_datetime(drought_states['ValidStart'])
midwest_df2['ValidStart'] = drought_states['ValidStart'].dt.strftime('%m/%d/%Y')
midwest_df2['ValidStart']=drought_states['ValidStart'].astype('datetime64[ns]')
north_east_df2['ValidStart']= pd.to_datetime(drought_states['ValidStart'])
north_east_df2['ValidStart'] = drought_states['ValidStart'].dt.strftime('%m/%d/%Y')
north_east_df2['ValidStart']=drought_states['ValidStart'].astype('datetime64[ns]')

South_df2.set_index('ValidStart',inplace=True)
West_df2.set_index('ValidStart',inplace=True)
midwest_df2.set_index('ValidStart',inplace=True)
north_east_df2.set_index('ValidStart',inplace=True)

#### Time serie graph
---

In [ ]:
fig, ax = plt.subplots(figsize=(40, 6))

ax.plot(West_df2['DSCI'])
ax.plot(South_df2['DSCI'])
ax.plot(midwest_df2['DSCI'])
ax.plot(north_east_df2['DSCI'])

plt.rc('xtick', labelsize=20) 
plt.rc('ytick', labelsize=20)
plt.title('Time series of DSCI regions every 6 months',fontdict={'fontsize':20});
plt.legend(['West','South','midwest_df2','north_east'],loc='upper left',fontsize=20);
fig.autofmt_xdate()
plt.savefig('./images/6_months_region.png')

#### radar graphs
---

In [ ]:
region_mean=regions.groupby('Region').agg({'area_d0':'mean','area_d1':'mean','area_d2':'mean','area_d3':'mean','area_d4':'mean'})

In [ ]:
from math import pi
# Each attribute we'll plot in the radar chart.
labels = ['D0', 'D1', 'D2', 'D3', 'D4']

# Let's look at the 1970 Chevy Impala and plot it.
values = region_mean.loc['north_east'].tolist()
values1 = region_mean.loc['west'].tolist()
values2 = region_mean.loc['South'].tolist()
values3 = region_mean.loc['Midwest'].tolist()
# Number of variables we're plotting.
num_vars = len(labels)

# Split the circle into even parts and save the angles
# so we know where to put each axis.
angles = np.linspace(0, 2 * np.pi, num_vars, endpoint=False).tolist()

# The plot is a circle, so we need to "complete the loop"
# and append the start value to the end.
# values += values[:1]
# angles += angles[:1]
labels.append(labels[0])
angles.append(angles[0])
values.append(values[0])
values1.append(values1[0])
values2.append(values2[0])
values3.append(values3[0])
#ax = plt.subplot(polar=True)

fig, ax = plt.subplots(figsize=(6, 6), subplot_kw=dict(polar=True))
#ax.set_thetagrids(angles * 180/np.pi, labels)
# Draw the outline of our data.
ax.set_thetagrids(np.degrees(angles), labels)
ax.plot(angles, values, color='red', linewidth=1)
ax.plot(angles, values1, color='blue', linewidth=1)
ax.plot(angles, values2, color='green', linewidth=1)
ax.plot(angles, values3, color='orange', linewidth=1)

plt.tight_layout()
plt.title('Drought categories areas Affected by region')
plt.legend(['north_east','west','South','Midwest'])
plt.show()
#https://towardsdatascience.com/how-to-create-a-radar-chart-in-python-36b9ebaa7a64

In [ ]:
region_mean_population=regions.groupby('Region').agg({'population_d0':'mean','population_d1':'mean','population_d2':'mean','population_d3':'mean','population_d4':'mean'})

In [ ]:
# Each attribute we'll plot in the radar chart.
labels = ['D0', 'D1', 'D2', 'D3', 'D4']

# Let's look at the 1970 Chevy Impala and plot it.
values = region_mean_population.loc['north_east'].tolist()
values1 = region_mean_population.loc['west'].tolist()
values2 = region_mean_population.loc['South'].tolist()
values3 = region_mean_population.loc['Midwest'].tolist()
# Number of variables we're plotting.
num_vars = len(labels)

# Split the circle into even parts and save the angles
# so we know where to put each axis.
angles = np.linspace(0, 2 * np.pi, num_vars, endpoint=False).tolist()

# The plot is a circle, so we need to "complete the loop"
# and append the start value to the end.
# values += values[:1]
# angles += angles[:1]
labels.append(labels[0])
angles.append(angles[0])
values.append(values[0])
values1.append(values1[0])
values2.append(values2[0])
values3.append(values3[0])
#ax = plt.subplot(polar=True)

fig, ax = plt.subplots(figsize=(6, 6), subplot_kw=dict(polar=True))
#ax.set_thetagrids(angles * 180/np.pi, labels)
# Draw the outline of our data.
ax.set_thetagrids(np.degrees(angles), labels)
ax.plot(angles, values, color='red', linewidth=1)
ax.plot(angles, values1, color='blue', linewidth=1)
ax.plot(angles, values2, color='green', linewidth=1)
ax.plot(angles, values3, color='orange', linewidth=1)

plt.tight_layout()
plt.title('Drought categories population Affected by region')
plt.legend(['north_east','west','South','Midwest'])
plt.show()
#https://towardsdatascience.com/how-to-create-a-radar-chart-in-python-36b9ebaa7a64

## West states analysis

In [ ]:
west_df=West_df.groupby(by=[West_df['ValidStart'].dt.year,West_df['Name']])['DSCI'].agg([ 'mean'])
west_df.reset_index(inplace=True)

In [ ]:
plt.figure(figsize=(15, 12))
sns.barplot(x='Name',
    y='mean',
    data=west_df);
plt.title('Average DSCI by states of west',fontdict={'fontsize':15});
plt.xticks(fontsize=(12))
plt.xlabel('States',fontdict={'fontsize':10});
plt.ylabel('DSCI',fontdict={'fontsize':10});
plt.grid(axis = 'y',color = 'black', linestyle = '--', linewidth = 0.8)

In [ ]:
plt.figure(figsize=(15, 12))
sns.barplot(x='Name',
    y='total_population',
    data=West_df);
plt.title('Average population',fontdict={'fontsize':14});
plt.xlabel('States',fontdict={'fontsize':10});
plt.ylabel('population',fontdict={'fontsize':10});
plt.grid(axis = 'y',color = 'black', linestyle = '--', linewidth = 0.8)

In [ ]:
plt.figure(figsize=(15, 12))
sns.barplot(x='Name',
    y='total_area',
    data=West_df);
plt.title('Average area',fontdict={'fontsize':14});
plt.xlabel('States',fontdict={'fontsize':10});
plt.ylabel('Area',fontdict={'fontsize':10});
plt.grid(axis = 'y',color = 'black', linestyle = '--', linewidth = 0.8)

In [ ]:
West_df2['DSCI'].plot(figsize = (12, 8))
plt.xlabel("Year")
plt.ylabel("DSCI (Severity Level)")
plt.title('Drought Severity since 2001')
plt.savefig('./images/western_dsci_years.png');

## midwest

In [ ]:
midwest=Midwest_df.groupby(by=[Midwest_df['ValidStart'].dt.year,Midwest_df['Name']])['DSCI'].agg([ 'mean'])
midwest.reset_index(inplace=True)

plt.figure(figsize=(15, 12))
sns.barplot(x='Name',
    y='mean',
    data=midwest);
plt.title('Average DSCI by states of midwest',fontdict={'fontsize':14});
plt.xlabel('States',fontdict={'fontsize':10})
plt.xticks(fontsize=(11))
plt.ylabel('DSCI',fontdict={'fontsize':10});
plt.grid(axis = 'y',color = 'black', linestyle = '--', linewidth = 0.8)

In [ ]:
midwest_df2['DSCI'].plot(figsize = (12, 8))
plt.xlabel("Year")
plt.ylabel("DSCI (Severity Level)")
plt.title('Midwest Drought Severity since 2001');